# Exploración

In [1]:
!ls

data		  Reuters21578-Apte-90Cat.tar.gz  tarea3.pdf
requirements.txt  tarea3.ipynb

In [2]:
!ls data

test  training

## Training

In [3]:
!ls data/training/

acq	     cpu	    income	  naphtha     rape-oil	       sun-oil
alum	     crude	    instal-debt   nat-gas     rapeseed	       sunseed
barley	     dfl	    interest	  nickel      reserves	       tea
bop	     dlr	    ipi		  nkr	      retail	       tin
carcass      dmk	    iron-steel	  nzdlr       rice	       trade
castor-oil   earn	    jet		  oat	      rubber	       unknown
cocoa	     fuel	    jobs	  oilseed     rye	       veg-oil
coconut      gas	    l-cattle	  orange      ship	       wheat
coconut-oil  gnp	    lead	  palladium   silver	       wpi
coffee	     gold	    lei		  palmkernel  sorghum	       yen
copper	     grain	    lin-oil	  palm-oil    soybean	       zinc
copra-cake   groundnut	    livestock	  pet-chem    soy-meal
corn	     groundnut-oil  lumber	  platinum    soy-oil
cotton	     heat	    meal-feed	  potato      strategic-metal
cotton-oil   hog	    money-fx	  propane     sugar
cpi	     housing	    money-supply  rand	      sun-meal

## Dataset: Acquisition

In [4]:
!ls data/training/acq

0000005  0001151  0002088  0003205  0004272  0005419  0006378  0007598	0008473
0000007  0001152  0002090  0003210  0004284  0005428  0006384  0007601	0008483
0000027  0001160  0002093  0003211  0004300  0005436  0006388  0007617	0008493
0000028  0001166  0002095  0003237  0004306  0005441  0006393  0007618	0008497
0000044  0001169  0002102  0003241  0004311  0005442  0006394  0007627	0008510
0000065  0001171  0002107  0003260  0004319  0005444  0006396  0007630	0008513
0000078  0001183  0002112  0003284  0004323  0005446  0006425  0007637	0008514
0000087  0001204  0002117  0003294  0004329  0005448  0006428  0007638	0008527
0000090  0001256  0002120  0003299  0004330  0005449  0006431  0007641	0008541
0000095  0001257  0002122  0003301  0004345  0005457  0006446  0007642	0008545
0000096  0001260  0002123  0003310  0004363  0005460  0006474  0007653	0008549
0000112  0001262  0002124  0003312  0004364  0005461  0006489  0007656	0008550
0000114  0001271  0002125  0003332  0004365  0005462  0006492  0007657	0008562
0000117  0001273  0002131  0003338  0004368  0005463  0006496  0007659	0008582
0000132  0001278  0002132  0003339  0004389  0005465  0006499  0007665	0008587
0000133  0001281  0002139  0003344  0004398  0005466  0006502  0007669	0008588
0000143  0001287  0002140  0003348  0004401  0005469  0006505  0007671	0008593
0000185  0001296  0002141  0003366  0004404  0005470  0006509  0007674	0008594
0000209  0001303  0002142  0003372  0004408  0005476  0006510  0007676	0008595
0000212  0001308  0002143  0003385  0004422  0005483  0006514  0007677	0008600
0000214  0001316  0002149  0003387  0004428  0005489  0006525  0007683	0008610
0000224  0001320  0002150  0003388  0004432  0005495  0006531  0007684	0008624
0000234  0001321  0002155  0003389  0004440  0005498  0006533  0007688	0008625
0000236  0001326  0002157  0003391  0004452  0005501  0006535  0007696	0008626
0000254  0001329  0002161  0003392  0004458  0005503  0006541  0007702	0008630
0000255  0001333  0002163  0003398  0004467  0005505  0006544  0007707	0008638
0000256  0001334  0002165  0003401  0004471  0005508  0006560  0007710	0008642
0000258  0001343  0002168  0003402  0004472  0005524  0006566  0007711	0008645
0000259  0001349  0002170  0003409  0004474  0005528  0006572  0007712	0008652
0000260  0001373  0002174  0003418  0004476  0005529  0006574  0007716	0008654
0000262  0001375  0002180  0003420  0004481  0005530  0006582  0007717	0008661
0000265  0001380  0002190  0003430  0004482  0005531  0006587  0007721	0008667
0000268  0001384  0002193  0003433  0004483  0005535  0006589  0007725	0008669
0000269  0001392  0002202  0003436  0004487  0005537  0006600  0007726	0008670
0000271  0001393  0002210  0003439  0004500  0005548  0006601  0007727	0008673
0000275  0001396  0002215  0003440  0004507  0005549  0006608  0007728	0008674
0000279  0001397  0002218  0003445  0004511  0005550  0006611  0007730	0008683
0000281  0001407  0002220  0003449  0004519  0005552  0006619  0007731	0008696
0000282  0001410  0002222  0003451  0004527  0005556  0006620  0007734	0008717
0000289  0001412  0002225  0003462  0004528  0005571  0006626  0007745	0008722
0000298  0001415  0002226  0003474  0004529  0005574  0006634  0007755	0008739
0000304  0001417  0002228  0003491  0004531  0005575  0006635  0007759	0008746
0000309  0001420  0002231  0003517  0004538  0005577  0006637  0007761	0008749
0000313  0001428  0002234  0003519  0004549  0005578  0006638  0007764	0008760
0000314  0001431  0002238  0003520  0004557  0005579  0006644  0007769	0008768
0000315  0001441  0002239  0003521  0004558  0005580  0006653  0007772	0008776
0000318  0001446  0002240  0003528  0004573  0005587  0006662  0007776	0008781
0000319  0001450  0002242  0003530  0004577  0005592  0006665  0007778	0008782
0000333  0001452  0002243  0003532  0004604  0005593  0006678  0007782	0008787
0000336  0001462  0002246  0003535  0004612  0005598  0006684  0007784	0008793
0000337  0001463  0002247  0003539  0004624  0005599  0006686  0007790	0008805
0000339  0001464  0002249  0003540  0004631  0005602  0006690  0007794	0008811
0000352  0001478  0002250  0003543  0004632  0005606  0006691  0007795	0008814
0000353  0001492  0002251  0003544  0004643  0005613  0006699  0007805	0008821
0000354  0001499  0002252  0003548  0004644  0005620  0006709  0007813	0008825
0000357  0001500  0002253  0003562  0004648  0005621  0006710  0007819	0008830
0000358  0001501  0002257  0003575  0004653  0005623  0006713  0007820	0008844
0000378  0001526  0002258  0003586  0004654  0005636  0006722  0007822	0008870
0000388  0001532  0002283  0003604  0004661  0005660  0006726  0007824	0008872
0000390  0001542  0002299  0003612  0004668  0005665  0006730  0007826	0008878
0000392  0001549  0002312  0003622  0004675  0005670  0006733  0007827	0008881
0000393  0001558  0002361  0003627  0004677  0005682  0006742  0007837	0008886
0000395  0001564  0002371  0003653  0004678  0005688  0006752  0007848	0008894
0000399  0001566  0002375  0003664  0004680  0005690  0006761  0007857	0008906
0000400  0001567  0002378  0003666  0004684  0005693  0006762  0007865	0008913
0000406  0001568  0002388  0003667  0004686  0005720  0006772  0007866	0008921
0000408  0001580  0002389  0003670  0004689  0005754  0006776  0007872	0008929
0000428  0001585  0002392  0003672  0004695  0005755  0006782  0007875	0008941
0000430  0001588  0002397  0003677  0004701  0005764  0006784  0007893	0008942
0000433  0001592  0002400  0003679  0004705  0005767  0006785  0007894	0008944
0000434  0001596  0002408  0003680  0004734  0005769  0006787  0007896	0008949
0000436  0001602  0002422  0003683  0004751  0005771  0006789  0007899	0008950
0000441  0001606  0002431  0003692  0004752  0005772  0006790  0007905	0008953
0000442  0001608  0002443  0003698  0004766  0005788  0006801  0007906	0008961
0000444  0001612  0002449  0003700  0004767  0005792  0006804  0007908	0009000
0000446  0001613  0002468  0003701  0004770  0005795  0006810  0007910	0009007
0000447  0001616  0002479  0003704  0004771  0005805  0006842  0007916	0009012
0000449  0001618  0002501  0003709  0004774  0005808  0006843  0007922	0009033
0000450  0001621  0002505  0003716  0004776  0005809  0006847  0007926	0009050
0000453  0001624  0002533  0003717  0004777  0005813  0006851  0007931	0009053
0000456  0001629  0002536  0003719  0004778  0005817  0006864  0007934	0009058
0000457  0001630  0002539  0003723  0004788  0005842  0006883  0007936	0009062
0000460  0001640  0002551  0003727  0004790  0005859  0006906  0007937	0009073
0000463  0001646  0002558  0003735  0004794  0005860  0006909  0007940	0009074
0000464  0001648  0002567  0003741  0004797  0005861  0006915  0007955	0009076
0000466  0001650  0002571  0003753  0004798  0005863  0006923  0007966	0009080
0000467  0001651  0002582  0003754  0004799  0005864  0006931  0007969	0009089
0000476  0001654  0002587  0003760  0004811  0005868  0006935  0007970	0009094
0000480  0001655  0002589  0003762  0004814  0005869  0006942  0007978	0009095
0000488  0001665  0002609  0003778  0004815  0005870  0006950  0007982	0009096
0000498  0001670  0002616  0003783  0004823  0005872  0006954  0007986	0009102
0000501  0001673  0002620  0003784  0004824  0005878  0006967  0007987	0009105
0000505  0001693  0002625  0003794  0004825  0005883  0006969  0007991	0009120
0000508  0001695  0002640  0003801  0004826  0005889  0006983  0007998	0009122
0000509  0001696  0002647  0003803  0004840  0005902  0006986  0008003	0009132
0000510  0001700  0002651  0003811  0004844  0005903  0006988  0008006	0009138
0000512  0001703  0002655  0003829  0004851  0005904  0006990  0008011	0009144
0000531  0001704  0002660  0003836  0004852  0005906  0006991  0008013	0009145
0000548  0001708  0002684  0003837  0004853  0005907  0006993  0008030	0009148
0000573  0001715  0002688  0003839  0004862  0005909  0006994  0008036	0009152
0000578  0001737  0002690  0003849  0004867  0005911  0007004  0008043	0009155
0000580  0001746  0002694  0003867  0004873  0005925  0007007  0008052	0009156
0000595  0001754  0002696  0003892  0004923  0005927  0007011  0008053	0009158
0000597  0001757  0002698  0003893  0004926  0005946  0007024  0008055	0009163
0000606  0001778  0002704  0003900  0004933  0005947  0007029  0008056	0009168
0000608  0001782  0002710  0003901  0004934  0005955  0007030  0008061	0009169
0000611  0001783  0002711  0003905  0004936  0005957  0007031  0008067	0009178
0000620  0001793  0002716  0003917  0004937  0005959  0007034  0008070	0009179
0000635  0001794  0002725  0003923  0004944  0005961  0007048  0008073	0009182
0000640  0001800  0002737  0003924  0004951  0005974  0007055  0008083	0009183
0000643  0001803  0002738  0003929  0004954  0005978  0007057  0008084	0009189
0000648  0001805  0002740  0003934  0004972  0005979  0007065  0008087	0009192
0000669  0001806  0002746  0003936  0004974  0005981  0007069  0008089	0009198
0000670  0001809  0002758  0003939  0004986  0005988  0007072  0008090	0009200
0000686  0001814  0002759  0003940  0004987  0005990  0007077  0008093	0009203
0000690  0001815  0002764  0003941  0004988  0005996  0007082  0008094	0009205
0000691  0001817  0002765  0003944  0005002  0005998  0007083  0008095	0009206
0000700  0001819  0002766  0003945  0005007  0005999  0007086  0008096	0009210
0000704  0001821  0002771  0003946  0005016  0006035  0007088  0008102	0009215
0000722  0001831  0002796  0003947  0005028  0006037  0007092  0008112	0009227
0000727  0001839  0002797  0003955  0005045  0006038  0007098  0008114	0009235
0000730  0001854  0002804  0003959  0005059  0006047  0007099  0008119	0009243
0000757  0001864  0002811  0003961  0005060  0006075  0007108  0008132	0009249
0000761  0001870  0002813  0003969  0005063  0006093  0007111  0008135	0009252
0000765  0001871  0002816  0003970  0005067  0006097  0007115  0008141	0009257
0000768  0001872  0002821  0003973  0005070  0006098  0007130  0008142	0009263
0000770  0001874  0002826  0003982  0005076  0006099  0007131  0008143	0009269
0000774  0001878  0002860  0003988  0005078  0006107  0007137  0008144	0009270
0000778  0001880  0002875  0003993  0005083  0006112  0007141  0008155	0009274
0000780  0001885  0002881  0003994  0005099  0006114  0007150  0008159	0009275
0000806  0001891  0002890  0004002  0005103  0006118  0007154  0008182	0009276
0000808  0001893  0002891  0004003  0005111  0006125  0007155  0008185	0009277
0000814  0001894  0002893  0004005  0005115  0006129  0007169  0008196	0009278
0000815  0001900  0002897  0004006  0005126  0006140  0007181  0008218	0009283
0000822  0001904  0002901  0004007  0005130  0006145  0007186  0008228	0009284
0000832  0001905  0002902  0004008  0005131  0006147  0007187  0008242	0009286
0000844  0001908  0002904  0004013  0005135  0006156  0007189  0008246	0009287
0000857  0001909  0002906  0004024  0005136  0006159  0007198  0008247	0009288
0000896  0001911  0002908  0004031  0005137  0006160  0007244  0008249	0009319
0000897  0001912  0002920  0004046  0005143  0006161  0007245  0008251	0009339
0000904  0001913  0002929  0004084  0005147  0006170  0007247  0008255	0009365
0000907  0001915  0002931  0004095  0005159  0006188  0007264  0008260	0009388
0000936  0001918  0002934  0004096  0005164  0006189  0007275  0008261	0009392
0000938  0001954  0002936  0004097  0005173  0006195  0007286  0008281	0009393
0000947  0001963  0002946  0004104  0005191  0006198  0007293  0008282	0009403
0000950  0001965  0002948  0004109  0005204  0006205  0007314  0008284	0009405
0000953  0001972  0002951  0004110  0005211  0006208  0007318  0008296	0009407
0000956  0001974  0002952  0004112  0005215  0006209  0007327  0008300	0009408
0000990  0001979  0002953  0004117  0005216  0006210  0007331  0008304	0009421
0001002  0001982  0002961  0004122  0005221  0006224  0007334  0008309	0009422
0001005  0001983  0002979  0004124  0005225  0006227  0007338  0008310	0009444
0001007  0001985  0002983  0004134  0005227  0006242  0007343  0008313	0009452
0001016  0001986  0002984  0004137  0005232  0006244  0007344  0008317	0009456
0001020  0001995  0002986  0004143  0005235  0006249  0007349  0008321	0009460
0001028  0001997  0002999  0004144  0005238  0006250  0007352  0008325	0009461
0001031  0002000  0003001  0004145  0005244  0006251  0007358  0008328	0009465
0001032  0002002  0003007  0004149  0005265  0006257  0007359  0008333	0009470
0001035  0002008  0003012  0004163  0005273  0006266  0007361  0008339	0009476
0001044  0002009  0003016  0004164  0005280  0006267  0007364  0008345	0009484
0001053  0002010  0003025  0004166  0005289  0006269  0007368  0008348	0009489
0001056  0002012  0003028  0004173  0005309  0006283  0007374  0008351	0009498
0001057  0002019  0003041  0004182  0005311  0006293  0007391  0008354	0009502
0001058  0002021  0003047  0004193  0005317  0006294  0007395  0008355	0009508
0001060  0002022  0003048  0004196  0005318  0006296  0007403  0008356	0009512
0001063  0002025  0003050  0004197  0005319  0006306  0007414  0008359	0009515
0001065  0002029  0003067  0004199  0005331  0006313  0007422  0008369	0009518
0001066  0002030  0003071  0004201  0005338  0006315  0007425  0008371	0009519
0001070  0002031  0003074  0004215  0005340  0006322  0007430  0008372	0009530
0001075  0002032  0003086  0004217  0005344  0006327  0007438  0008375	0009541
0001076  0002035  0003094  0004222  0005347  0006331  0007442  0008385	0009547
0001088  0002039  0003108  0004225  0005352  0006332  0007444  0008389	0009549
0001095  0002043  0003119  0004226  0005357  0006337  0007446  0008390	0009551
0001099  0002049  0003128  0004227  0005362  0006339  0007452  0008394	0009554
0001101  0002052  0003130  0004234  0005364  0006342  0007506  0008395	0009556
0001102  0002054  0003140  0004237  0005368  0006344  0007508  0008398	0009557
0001103  0002063  0003147  0004240  0005369  0006345  0007521  0008400	0009565
0001112  0002065  0003158  0004242  0005377  0006354  0007523  0008428	0009576
0001120  0002072  0003159  0004243  0005381  0006358  0007538  0008433	0009584
0001127  0002073  0003181  0004245  0005384  0006361  0007545  0008438
0001128  0002074  0003186  0004247  0005391  0006362  0007562  0008450
0001129  0002076  0003188  0004249  0005401  0006367  0007584  0008451
0001134  0002083  0003189  0004262  0005405  0006372  0007595  0008463
0001137  0002084  0003197  0004263  0005409  0006376  0007596  0008464
0001141  0002087  0003198  0004265  0005417  0006377  0007597  0008465

## Algún archivo

In [5]:
!cat data/training/acq/0000005

## Dataset: CPU

In [6]:
!ls data/training/cpu

0003746  0003797  0003816

## Buscar más Frecuentes

In [7]:
import os
trainingFiles = []
for root, dirs, files in os.walk("data/training"):
    for file in files:
        trainingFiles.append([root, file])
        
trainingFiles[0:10]

[['data/training/naphtha', '0004556'],
 ['data/training/naphtha', '0005167'],
 ['data/training/soybean', '0004358'],
 ['data/training/soybean', '0008468'],
 ['data/training/soybean', '0000885'],
 ['data/training/soybean', '0002152'],
 ['data/training/soybean', '0001505'],
 ['data/training/soybean', '0001131'],
 ['data/training/soybean', '0005250'],
 ['data/training/soybean', '0006770']]

## Agrupar

In [8]:
import pandas as pd

In [9]:
labels = ['root', 'file']
df = pd.DataFrame.from_records(trainingFiles, columns=labels)

In [10]:
df[0:10]

                    root     file
0  data/training/naphtha  0004556
1  data/training/naphtha  0005167
2  data/training/soybean  0004358
3  data/training/soybean  0008468
4  data/training/soybean  0000885
5  data/training/soybean  0002152
6  data/training/soybean  0001505
7  data/training/soybean  0001131
8  data/training/soybean  0005250
9  data/training/soybean  0006770

## Ordernar y sacar los 10
Los 11 en realidad, porque hay una categoría unkwown

In [11]:
largest = df.groupby('root').count().nlargest(11, columns="file")
largest

                        file
root
data/training/earn      2877
data/training/unknown   1830
data/training/acq       1650
data/training/money-fx   538
data/training/grain      433
data/training/crude      389
data/training/trade      369
data/training/interest   347
data/training/wheat      212
data/training/ship       197
data/training/corn       181

## Iterate trough values:

In [12]:
for row in df.iterrows():
    print(row[0], row[1]["root"], row[1]["file"])
    break

0 data/training/naphtha 0004556

In [13]:
for row in largest.iterrows():
    print(row[0], row[1]["file"])

data/training/earn 2877
data/training/unknown 1830
data/training/acq 1650
data/training/money-fx 538
data/training/grain 433
data/training/crude 389
data/training/trade 369
data/training/interest 347
data/training/wheat 212
data/training/ship 197
data/training/corn 181

## Refactor

In [14]:
path = "data/training"
def getAllFiles(path):
    allFiles = []
    for root, dirs, files in os.walk(path):
        for file in files:
            allFiles.append([root, file])
            
    return allFiles

In [20]:
def getTop10Categories(files):
    labels = ['root', 'file']
    df = pd.DataFrame.from_records(files, columns=labels)
    largest = df.groupby('root').count().nlargest(11, columns="file")
    return [[row[0], row[1]["file"]] for row in largest.iterrows() if "unknown" not in row[0]]

In [36]:
def getFilesinFolders(folderList):
    allFiles = []
    for folder in folderList:
        for root, dirs, files in os.walk(folder):
            for file in files:
                allFiles.append([root, file])
            
    return allFiles

## Preview

### All Files

In [17]:
trainingFiles = getAllFiles("data/training")
print(len(trainingFiles))
print(trainingFiles[0])

11413
['data/training/naphtha', '0004556']

### Top 10 Categories

In [21]:
top10 = getTop10Categories(trainingFiles)
print(len(top10))
print(top10[0])

10
['data/training/earn', 2877]

### Top 10 Folders

In [33]:
top10Folders = [f[0] for f in top10]
top10Folders

['data/training/earn',
 'data/training/acq',
 'data/training/money-fx',
 'data/training/grain',
 'data/training/crude',
 'data/training/trade',
 'data/training/interest',
 'data/training/wheat',
 'data/training/ship',
 'data/training/corn']

### Top 10 Files

In [56]:
top10Files = getFilesinFolders(top10Folders)
print(len(top10Files))
print("\n".join([str(r[0])+ " " + str(r[1]) for r in top10Files[::500]]))

7193
data/training/earn 0006903
data/training/earn 0001638
data/training/earn 0000416
data/training/earn 0003049
data/training/earn 0001883
data/training/earn 0006551
data/training/acq 0004263
data/training/acq 0007759
data/training/acq 0005147
data/training/acq 0004862
data/training/money-fx 0007282
data/training/crude 0005910
data/training/trade 0003619
data/training/interest 0000568
data/training/ship 0009439

### Check 'earn' Length

In [59]:
earnList = [r for r in top10Files if "earn" in r[0]]
len(earnList)

2877

# Eliminar signos de puntuación

In [ ]:
testFile = os.path.join(trainingFiles[0][0], trainingFiles[0][1])
testFile

In [ ]:
testFileOpen = open(testFile, "r")
testText = testFileOpen.read()
testFileOpen.close()
print(testText)

## Fuerza bruta

In [ ]:
puntuacion = [",", ".", ";", ":", "<", ">", "-"]

In [ ]:
sinPuntos = testText

for punto in puntuacion:
    sinPuntos = sinPuntos.replace(punto, "")
    
print(sinPuntos)

Problemas de este método:
- Tener todos los signos de puntuación en el arreglo
- Eficiencia

## Expresiones regulares

In [ ]:
import re, string

In [ ]:
sinPuntos = testText

regex = re.compile('[%s]' % re.escape(string.punctuation))
sinPuntos =  regex.sub('', sin_puntos)
    
print(sinPuntos)

## String Translate

In [ ]:
string.punctuation

In [ ]:
sinPuntos = testText
sinPuntos = sinPuntos.translate(str.maketrans('','', string.punctuation))
print(sinPuntos)

## Comparación

[Source](https://stackoverflow.com/questions/265960/best-way-to-strip-punctuation-from-a-string-in-python)

```python
replace   : 28.4436721802
regex     : 6.86155414581
translate : 2.12455511093
```

## Eliminar números

In [ ]:
sinNumeros = re.sub('\d', '', sinPuntos)
print(sinNumeros)

# Eliminar Stopwords

Al igual que en el caso anterior, podríamos crear un arreglo y eliminar los stopwords. Una vez más, tendríamos que construir (o [descargar](https://github.com/stopwords-iso/stopwords-en)) un listado de estas.

Para este caso, ocuparemos el [Natural Language Toolkit](http://www.nltk.org/) para hacer esto.

In [ ]:
from nltk.corpus import stopwords

In [ ]:
stop = set(stopwords.words('english'))
list(stop)[0:10]

In [ ]:
sinStop = [i for i in sinNumeros.lower().split() if i not in stop]
print(" ".join(sinStop))

# Tokenize

In [ ]:
from nltk import word_tokenize
import nltk
nltk.download('punkt')

In [ ]:
tokenized = [i for i in word_tokenize(sinNumeros.lower()) if i not in stop]

In [ ]:
tokenized[0:20]

# Stemming

In [ ]:
from nltk.stem.porter import PorterStemmer
porter = PorterStemmer()

In [ ]:
porter = [porter.stem(i.lower()) for i in word_tokenize(sinNumeros) if i.lower() not in stop]

In [ ]:
porter[0:20]

# Tablas Term Frequency (TF)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
vectorizer = CountVectorizer()